<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageRestore>
        <add key="enabled" value="True" />
        <add key="automatic" value="True" />
    </packageRestore>
    <packageSources>
        <clear />
        <add key="NuGet Official" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
        <add key="Vertem.Core" value="https://pkgs.dev.azure.com/grupoltm/ab756afb-73b8-4a78-b655-0cc258be6bf3/_packaging/Vertem.Core/nuget/v3/index.json" />
    </packageSources>
    <activePackageSource>
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
    <disabledPackageSources>
    </disabledPackageSources>
</configuration>